// colors

$btn-regular: #81b3d2;
$btn-hover: #669ec0;
$btn-down: #5496bd;

$menu-regular: #000000;
$menu-hover:#a3c7de;
$menu-down:#999999;

$text-regular: #333333;

// breakpoints

$tablet-width: 768px;
$desktop-width: 1200px;
